/* complementary */
* {
  box-sizing: border-box;
}
:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4a4a4a;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;

  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2 e;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}
body {
  /* TODO: you can make it mid-based page by adding display: flex */
  /* display: flex; */
  background-color: #fff;
}
button,
a {
  cursor: pointer;
}
.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transition: 0.2s;
  max-width: 1800px;
}
.app-container button,
.app-container input,
.app-container optgroup,
.app-container select,
.app-container textarea {
  font-family: 'DM Sans', sans-serif;
}
.app-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 24px 24px 24px 24px;
}
.education-section {
  flex: 2;
  background-color: var(--projects-section);
  border-radius: 32px;
  padding: 32px 32px 0 32px;
  overflow: hidden;
  height: 100%;
  display: flex;
  margin-bottom: 12px;
  flex-direction: column;
}
.education-section-line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-right: 16px;
}
.education-section-line p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  opacity: 0.9;
  margin: 0;
  color: var(--main-color);
}
.experience-section {
  flex: 2;
  background-color: var(--projects-section);
  border-radius: 32px;
  padding: 32px 32px 0 32px;
  overflow: hidden;
  height: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.experience-section-line {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-right: 16px;
}
.experience-section-line p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  opacity: 0.9;
  margin: 0;
  color: var(--main-color);
}
/* to change */
.experience-card {
  display: flex;
}
div.card {
  height: 400px;
  width: 400px;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  border-radius: 20px;
  background: #ece9e6; 
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  );
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  );

  box-shadow: -2px 10px 76px -6px rgba(0, 0, 0, 0.75);
  margin: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
div.card > p {
  font-size: 14px;
  margin: 5px 20px;
}
div.profileImg {
  margin-top: 20px;
  border-radius: 100%;
  width: 125px;
  height: 125px;
  box-shadow: -2px 10px 76px -20px rgba(0, 0, 0, 0.75);
}
div.profileImg.first {
  background-image: url('https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
div.profileImg.second {
  background-image: url('https://images.pexels.com/photos/1239291/pexels-photo-1239291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
div.profileImg.third {
  background-image: url('https://images.pexels.com/photos/372042/pexels-photo-372042.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
div.card-one {
  transition-duration: 500ms;
}
div.card-two {
  transition-duration: 500ms;
}
div.card-three {
  transition-duration: 500ms;
}
div.card-one:hover {
  margin-bottom: 100px;
  cursor: pointer;
}
div.card-two:hover {
  margin-bottom: 100px;
  cursor: pointer;
}
div.card-three:hover {
  margin-bottom: 100px;
  cursor: pointer;
}
div.card > ul {
  list-style: none;
}
div.card ul li {
  margin: 20px;
  transition-duration: 500ms;
  display: inline-block;
}
div.card ul li:hover {
  transform: scale(1.5);
}
div.card ul li a {
  color: black;
}
@media (max-width: 600px) {
  .experience-card {
  flex-flow: column wrap;
  justify-content: center;

  }
  div.card {
    height: 250px;
    width: 250px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    border-radius: 20px;
    background-color: white;
    box-shadow: -2px 10px 76px -6px rgba(0, 0, 0, 0.75);
    margin: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
  }
  div.card > p {
    font-size: 7px;
    margin: 5px 20px;
  }
  div.card ul li {
    margin: 5px;
    transition-duration: 500ms;
    display: inline-block;
  }
  div.profileImg {
    margin-top: 20px;
    border-radius: 100%;
    width: 75px;
    height: 75px;
  }
  div.card-three {
    margin-bottom: 100px;
  }
}
/* .card {
  position: relative;
  width: calc(50% - 20px);
  min-height: 300px;
  background: rgb(244, 8, 8);
  margin: 10px;
  box-sizing: border-box;
}
.card .imgBx {
  position: absolute;
  width: 50%;
  height: 100%;
}
.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .details {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .details .content {
  padding: 20px;
  box-sizing: border-box;
}
.card .details .content h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 0.85em;
  font-weight: 600;
}
.card .details .content h2 span {
  font-size: 14px;
  color: #777;
}
.card .details .content ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.card .details .content ul li {
  list-style: none;
  margin-left: 2px;
}
.card .details .content ul li a {
  color: #fff;
  border: none;
}
.card .details .content ul li:nth-child(1) a {
  background: #3b5995;
}
.card .details .content ul li:nth-child(2) a {
  background: #55acee;
}
.card .details .content ul li:nth-child(3) a {
  background: #b31217;
}
.card .details .content ul li:nth-child(4) a {
  background: #0077b5;
}
.card .details .content a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 10px;
  border: 2px solid #262626;
  color: #262626;
  font-weight: 500;
}
.card .details .content a:hover {
  background: #262626;
  color: #fff;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .card {
    width: calc(70% - 20px);
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  .card {
    width: calc(70% - 20px);
    margin: 10px auto;
  }
  .card .imgBx {
    position: relative;
    width: 100%;
    height: 200px;
  }
  .card .details {
    position: relative;
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 480px) {
  .card {
    width: calc(100% - 40px);
    margin: 10px auto;
  }
} */
/*
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}


body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

 
.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
} */
